<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1>Create Product</h1>

    <% if(message){ %>
    <p class="alert alert-success"><%= message %></p>

    <% } %>

    <form action="/products/create" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" />
      </div>

      <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" />
      </div>

      <button class="btn btn-success" type="submit">Creat Product</button>
    </form>

  </div>
</body>

</html>