<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1><%=title%></h1>
    <% if(message){ %>
      <p class="alert alert-success"><%= message %></p>

    <% } %>

    
    <% if(flash && flash.error && flash.error.length){ %>
      <p class="alert alert-danger"><%= flash.error[0] %></p>    
      <% } %>

      <% if(flash && flash.success && flash.success.length){ %>
      <p class="alert alert-success"><%= flash.success[0] %></p>    
      <% } %>

  </div>
</body>

</html>